:root {
    --left-width: 40vw;
    --right-width: 60vw;

    --font-logo: clamp(6rem, 4vw, 1000px);
    --font-large: clamp(1.5rem, 1vw, 250px);
    --font-medium: clamp(1rem, 1.5vw, 200px);
    --font-small: clamp(1rem, 0.5vw, 100px);

    --label-color: #3a434e;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./font/Norse-Bold.otf);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* ---- Shared Flex Layout ---- */
#site-container,
.left,
.right,
#odin-logo,
#input-info,
#input-right,
#info,
#sign-up {
    display: flex;
}

#site-container,
#odin-logo {
    flex-direction: row;
}

.left,
.right,
#input-right,
#info,
#sign-up {
    flex-direction: column;
}

/* ---- Outer Layout ---- */
#site-container {
    justify-content: space-between;
    height: 100vh;
}

.left {
    justify-content: space-between;
    width: var(--left-width);
    align-items: center;
}

.right {
    background: white;
    justify-content: center;
    width: var(--right-width);
}

/* ---- Left Side ---- */
#odin-back {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: var(--left-width);
}

#odin-logo {
    font-family: Norse-Bold;
    margin-top: clamp(10rem, 26.5vh, 258px);
    height: 15%;
    width: 100%;
    justify-content: center;
    background: rgba(0, 0, 0, 40%);
}
#odin-img,#odin-txt{
    align-self:center;
}
#odin-img {
    height: 70%;
}

#odin-txt {
    font-size: var(--font-logo);
    color: white;
}

#credit {
    color: white;
}

/* ---- Right Side ---- */
#input-left {
    margin-right: 4vw;
}

#sign-up {
    height: clamp(1rem, 35vh, 360px);
    width: var(--right-width);
    justify-content: center;
}

/* Shared spacing */
.right p,
.right b,
.right button,
#input-info {
    margin-left: 5%;
    width: 80%;
}

.right b,
.right button,
#sign-up {
    margin-top: 4%;
}

.right p {
    font-weight: bold;
    margin-bottom: 4%;
}

/* ---- Form ---- */
.right #form button {
    width: clamp(13rem, 15vw, 100px);
    height: 4.5vh;
    color: white;
    font-weight: bold;
    background: #596D48;
    border-radius: 0.5vw;
    border: none;
    font-size: var(--font-button);
}

#sign-up,
.right #form button {
    box-shadow: 0.5vh 0.6vh 0.5vh 0.5vh rgb(0 0 0 / 10%);
}

/* Inputs */
.right #info input {
    outline: none;
    height: 3vh;
    border: 1px solid #E5E7EB;
    border-radius: 0.3vw;
}

.right #info input:focus {
    border-color: blue;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
}

#info input:user-valid {
    border-color: green;
}

#info input:user-invalid {
    border-color: red;
}

/* Labels */
#input-info,
.right label b {
    margin-bottom: 2%;
}

.right label b,
.right p {
    font-size: var(--font-large);
}

#input-info,
.right label b,
#input-right label,
#input-left label {
    color: var(--label-color);
}

#info label {
    
    font-size: clamp(0.75rem, 0.5vw, 100px);
}

#input-right label,
#input-left label {
    font-weight: bold;
    margin-top: 10%;
}
