:root {
    --left-width: 40vw;
    --right-width: 60vw;
}

* {
    margin: 0%;
    padding: 0%;
}



#site-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:100vh;
}

/* left side */
#odin-back {
    position:absolute;
    z-index: -1;
    height:100vh;
    width:var(--left-width);
}

.left{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:var(--left-width);
    align-items:center;
}


.right{
    background:lightgrey;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:var(--right-width);
    align-items:center;
}

#odin-logo {
    margin-top: 40%;
    display:flex;
    flex-direction:row;
    height:15%;
    width:100%;
    justify-content:center;
    background: rgba(0,0,0,40%)
}

#odin-img {
    height: 70%;
    align-self:center;
}
#odin-txt {
    font-size:50px;
    color:white;
    align-self:center; 
}

#credit{
    color:white;
    
}

/* right */

#input-info{
    display:flex;
    width:40vw;
    justify-content:space-around;
}

#input-left {
    display:flex;
    flex-direction:column;
}

#input-right {
    display:flex;
    flex-direction:column;
}

#form{
    display:flex;
    flex-direction:column;
}

#info{
    display:flex;
    width:20vh;
    flex-direction:column;
}

#sign-up{
    height:25vh;
    display:flex;
    flex-direction:column;
    background:white;
    width:var(--right-width);
    box-shadow: 5px 5px 5px rgb(0,0,0, 30%);
}

#sign-up label h1{
    height:8vh;
    width:20vw;
    align-content:center;
    margin-left:3vw;
}
