:root {
    --left-width: 40vw;
    --right-width: 60vw;
    --font-logo: clamp(9rem,4vw,1000px);
    --font-large: clamp(1.5rem,1vw,250px);
    --font-medium: clamp(1rem,1.5vw,200px);
    --font-small: clamp(0.7rem,0.5vw,100px);

}

@font-face {
    font-family: Norse-Bold;
    src: url(./font/Norse-Bold.otf);
}

* {
    margin: 0%;
    padding: 0%;
}



#site-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:100vh;
}

/* left side */
#odin-back {
    position:absolute;
    z-index: -1;
    height:100vh;
    width:var(--left-width);
}

.left{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:var(--left-width);
    align-items:center;
}




#odin-logo {
    font-family: Norse-Bold;
    margin-top: clamp(25vh,25rem,285px);
    display:flex;
    flex-direction:row;
    height:15%;
    width:100%;
    justify-content:center;
    background: rgba(0,0,0,40%)
}

#odin-img {
    height: 70%;
    align-self:center;
}
#odin-txt {
    font-size:var(--font-logo);
    color:white;
    align-self:center; 
}

#credit{
    color:white;
    
}

/* right */

.right{
    background:#f9fafb;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:var(--right-width);
}

#input-info{
 display:flex;
}

#input-left {
    margin-right: 4vw;
}

#input-right {
    display:flex;
    flex-direction:column;
}

#form{

}

#info{
    display:flex;
    flex-direction:column;
}

#sign-up{
    height:30vh;
    background:white;
    width:var(--right-width);
    box-shadow: 5px 5px 5px rgb(0,0,0, 30%);
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#form button{
    width:clamp(13rem,15vw, 100px);
    height:4.5vh;
    color:white;
    background:#596D48;
    border-radius:0.5vw;
    border-color: #596D48;
    border-style:none;
}

.right p,.right b, .right button, #input-info {
    margin-left: 5%;
    width: 80%;
}

.right b, .right button, #sign-up{
     margin-top:4%;
 }

.right p {
    font-weight:bold;
    margin-bottom:4%;
}

#info input{
    height:3vh;
    border-radius: 0.5vw;
    border-color:#E5E7EB;
    border-style:solid;
}

#info input:user-valid{
    border-color:green;
    
}

#info input:user-invalid{
    border-color:red;
}

#info input:focus{
    border-color: blue;
}

#input-info, .right label b{
    margin-bottom: 2%;
}

.right label b {
    color: #3a434e;
    font-size:var(--font-large);
}

#info label {
    font-size:var(--font-small);
    font-style:bold;
}
#input-right label, #input-left label{
    margin-top:10%;
}

.right p {
    color:black;
    font-size: var(--font-large);
}

/*  Todo
    1 Streamline further
    2 ensure scaling across aspect ratios*/