:root {
    --left-width: 40vw;
    --right-width: 60vw;
}

* {
    margin: 0%;
    padding: 0%;
}



#site-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:100vh;
}

/* left side */
#odin-back {
    position:absolute;
    z-index: -1;
    height:100vh;
    width:var(--left-width);
}

.left{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:var(--left-width);
    align-items:center;
}




#odin-logo {
    margin-top: 40%;
    display:flex;
    flex-direction:row;
    height:17%;
    width:100%;
    justify-content:center;
    background: rgba(0,0,0,40%)
}

#odin-img {
    height: 70%;
    align-self:center;
}
#odin-txt {
    font-size:50px;
    color:white;
    align-self:center; 
}

#credit{
    color:white;
    
}

/* right */

.right{
    background:lightgrey;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:var(--right-width);
}

#input-info{
 display:flex;
}

#input-left {
    margin-right: 4vw;
}

#input-right {
    display:flex;
    flex-direction:column;
}

#form{

}

#info{
    display:flex;
    flex-direction:column;
}

#sign-up{
    height:30vh;
    background:white;
    width:var(--right-width);
    box-shadow: 5px 5px 5px rgb(0,0,0, 30%);
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#form button{
    width:15vw;
    height:4.5vh;
    color:white;
    background:darkolivegreen;
    border-radius:0.5vw;
}

.right p,.right b, .right button, #input-info {
    margin-left: 5%;
    width: 80%;
}

.right b, .right button, #sign-up{
     margin-top:4%;
 }

.right p {
    margin-bottom:4%;
}

#info input{
    height:3vh;
    border-radius: 0.5vw;
    border-color:lightgray;
}

#info input:valid{
    border-color:green;
    
}

#info input:invalid{
    border-color:red;
}

#input-info, .right label b{
    margin-bottom: 2%;
}

.right label b {
    font-size:175%;
}

#info label {
    font-size:75%;
    font-style:bold;
}
#input-right label, #input-left label{
    margin-top:2vh;
}

.right p {
    color:black;
    font-size:1.5vw;
}